<div class="md-padding">
  <div fxLayout="wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
    <div fxFlex>
      <section id="head">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary header">{{name}}</span>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </section>

      <section id="contact" fxLayout="row">
        <mat-card fxFlex="33">
          <mat-card-header>
            <mat-card-title>
              <span>
                <i class="colour-primary material-icons">contact_mail</i>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="80">
            <p>{{contact.address.addr1}}</p>
            <p *ngIf="contact.address.addr2">{{contact.address.addr2}}</p>
            <p>{{contact.address.city}}, {{contact.address.province}}</p>
            <p>{{contact.address.postal}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">
                <i class="material-icons">contact_phone</i>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <i class="material-icons">phone_in_talk</i> {{contact.phone.main}}
            </p>
            <p>
              <i class="material-icons">phone_forwarded</i> {{contact.phone.alternate}}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="34">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">
                <i class="material-icons">language</i>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <i class="material-icons">mail</i>
              {{contact.digital.email}}
            </p>
            <p>{{contact.digital.github}}</p>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="summary">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">Summary</span>
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{summaryText}}
          </mat-card-content>
        </mat-card>
      </section>

      <section id="skill" fxLayout="row">
        <mat-card fxFlex="55">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">Experience</span>
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{skillText}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="45">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary"></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <li *ngFor="let skill of skillList">
                <span class="colour-primary">{{skill.content.title}}</span>
                <span>: {{skill.content.items.join()}}</span>
              </li>
            </p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
  </div>
</div>