.header {
    font-size: 275%;
    font-style: italic;
}

.item-header {
    font-size: 125%;
}

.item-header-detail {
    font-style: italic;
    color: darkslategray;
}

.negate-pad-left {
    margin-left: -20px;
}

.negate-pad-top {
    margin-top: -10px;
}

.mat-card-title {
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skill-header {
    font-size: 115%;
}

.work-header {
    font-size: 115%;
}