
mat-card-title > span > mat-icon {
    font-size: 150%;
}

mat-card {
    margin: 10px, 10px, 10px;
}

mat-card-content {
    padding-left: 10px;
}

.mat-card-title {
    font-size: 150%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    font-size: 275%;
    font-style: italic;
}

.work-header {
    font-size: 125%;
}

.item-header {
    font-size: 125%;
}

.item-header-detail {
    font-style: italic;
    color: darkslategray;
}
