<div class="md-padding">
  <div fxLayout="wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
    <div fxFlex>
      <section id="head">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="colour-primary header">
              {{name}}
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </section>

      <section id="contact" fxLayout="row">
        <mat-card fxFlex="33">
          <mat-card-header>
            <mat-card-title>
              <span>
                <mat-icon class="colour-primary material-icons">contact_mail</mat-icon>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content fxFlex="80">
            <p>{{contact.address.addr1}}</p>
            <p *ngIf="contact.address.addr2">{{contact.address.addr2}}</p>
            <p>{{contact.address.city}}, {{contact.address.province}}</p>
            <p>{{contact.address.postal}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">
                <mat-icon>contact_phone</mat-icon>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>phone_in_talk</mat-icon> {{contact.phone.main}}
            </p>
            <p>
              <mat-icon>phone_forwarded</mat-icon> {{contact.phone.alternate}}
            </p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="34">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">
                <mat-icon>language</mat-icon>
              </span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <mat-icon>mail</mat-icon>
              {{contact.digital.email}}
            </p>
            <p>
              <mat-icon svgIcon="github"></mat-icon>
              {{contact.digital.github}}</p>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="summary">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">Summary</span>
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{summaryText}}
          </mat-card-content>
        </mat-card>
      </section>

      <section id="skill" fxLayout="row">
        <mat-card fxFlex="55">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">Experience</span>
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{skillText}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="45">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary"></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              <li *ngFor="let skill of skillList">
                <span class="colour-primary">{{skill.content.title}}</span>
                <span>: {{skill.content.items.join()}}</span>
              </li>
            </p>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="work-history">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Work History
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let work of workhistories">
              <span class="colour-primary item-header">{{work.content.title}} ~ {{work.content.company}}</span>
              <p class="item-header-detail">
                {{work.content.location}} - {{work.content.dateRange}}
              </p>
              <p *ngIf="work.content.text">{{work.content.text}}</p>
              <p *ngIf="work.content.accomplishments">{{work.content.accomplishments}}</p>
              <br/>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="education">
        <mat-card *ngFor="let education of educations">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">{{education.content.course}}</span>
              <p class="section-header-detail">
                {{education.content.school}} - {{education.content.graduationYear}}
              </p>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content *ngIf="education.content.summary">
            <div>
              <span class="colour-primary education-header">{{education.content.course}}</span>
              <p>
                {{education.content.summary}}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="references">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary">References</span>
              <hr/>
              <p class="section-header-detail">
                Available upon request.
              </p>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </section>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
  </div>
</div>