<div class="md-padding">
  <div *ngIf="contact && workhistories && educations" fxLayout="wrap">
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
    <div fxFlex>
      <section id="head">
        <mat-card>
          <mat-card-content fxLayout class="colour-primary header">
            {{contact.name}}
            <span fxFlex></span>
            <a href="{{contact.digital.github}}/resume">View Source</a>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="contact" fxLayout>
        <mat-card fxFlex="33">
          <mat-card-content fxLayout>
            <div fxFlex="20">
              <mat-icon class="colour-primary header-icon">contact_mail</mat-icon>
            </div>
            <div fxFlex>
              <p>{{contact.address.addr1}}</p>
              <p *ngIf="contact.address.addr2">{{contact.address.addr2}}</p>
              <p>{{contact.address.city}}, {{contact.address.province}}</p>
              <p>{{contact.address.postal}}</p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="33">
          <mat-card-content fxLayout>
            <div fxFlex="20">
              <mat-icon class="colour-primary header-icon">contact_phone</mat-icon>
            </div>
            <div fxFlex>
              <p>
                <mat-icon>phone_in_talk</mat-icon> {{contact.phone.main}}
              </p>
              <p>
                <mat-icon>phone_forwarded</mat-icon> {{contact.phone.alternate}}
              </p>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="34">
          <mat-card-content fxLayout>
            <div fxFlex="20">
              <mat-icon class="colour-primary header-icon">language</mat-icon>
            </div>
            <div fxFlex>
              <p>
                <mat-icon>mail</mat-icon>
                <a href="{{contact.digital.email}}">{{contact.digital.email}}</a>
              </p>
              <p>
                <img src="../assets/github-circle.svg">
                <a href="{{contact.digital.github}}">{{contact.digital.github}}</a>
              </p>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="about-me" fxLayout>
        <mat-card fxFlex="50">
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Summary
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{aboutMe.summary}}
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex>
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Personal Dev
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            {{aboutMe.interests}}
          </mat-card-content>
        </mat-card>
      </section>

      <section id="skill" fxLayout="row">
        <mat-card fxFlex="50">
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Experience
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>{{skillText}}</p>
          </mat-card-content>
        </mat-card>
        <mat-card fxFlex="50">
          <mat-card-header>
            <mat-card-title>
              <span class="colour-primary"></span>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="negate-pad-top">
            <span *ngFor="let skill of skillList" class="negate-pad-left">
              <span class="colour-primary skill-header">{{skill.title}}:</span>
              <p>
                {{skill.items.join(", ")}}
              </p>
            </span>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="work-history">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Work History
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let work of workhistories">
              <span class="colour-primary item-header">{{work.title}} ~ {{work.company}}</span>
              <p class="item-header-detail">
                {{work.location}} - {{work.dateRange}}
              </p>
              <p *ngIf="work.text">{{work.text}}</p>
              <p *ngIf="work.accomplishments">{{work.accomplishments}}</p>
              <br/>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="education">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="colour-primary">
              Education
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div *ngFor="let education of educations">
              <span class="colour-primary item-header">{{education.course}}</span>
              <p class="item-header-detail">
                {{education.school}} - {{education.graduationYear}}
              </p>
              <p *ngIf="education.summary">
                {{education.summary}}
              </p>
              <br/>
            </div>
          </mat-card-content>
        </mat-card>
      </section>

      <section id="references">
        <mat-card>
          <mat-card-header>
            <mat-card-title class="colour-primary">
              References
              <hr/>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p class="item-header-detail">
              Available upon request.
            </p>
          </mat-card-content>
        </mat-card>
      </section>
    </div>
    <div fxFlex.gt-lg="25" fxFlex.gt-md="10" fxFlex="0"></div>
  </div>
</div>