@import '_palette.scss';

//Colours
.colour-primary {
  color: $primary;
}

.colour-accent {
  color: $accent;
}

.colour-warn {
  color: $warn;
}


section{
  margin-bottom: 10px;       
}

.header-icon {
  font-size: 250%;
  margin-top: 10px;
}

mat-card {
  margin: 10px, 10px, 10px;
}

mat-card-content {
  padding-left: 7px;
}

* {
  font-size: 10pt;
}